<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here is Your Todo List</h1>
      <form class="" action="/" method="post">
        <input type="text" name="task" value"" placeholder="Add a task...">
        <input type="submit" name="submit" value="Add task"> <br>
      </form>
      {{#tasks}}
        <form class="" action="/complete" method="post">
        <button type="submit" name="done" value="{{dataValues.name}}">Completed</button>
          <p>{{dataValues.name}}</p>
        </form>
      {{/tasks}}
    <h3>Completed Tasks</h3>
      <div class="donelist">
        {{#completedTasks}}
      <li>{{dataValues.name}}</li>
        {{/completedTasks}}
      </div>
        <form class="" action="/delete" method="post">
        <button type="submit" name="delete">Delete Completed</button>
      </form>
  </body>
</html>
